body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container-promo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container-promo h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px;
}

.container-promo p {
    text-align: center;
    /* margin-bottom: 20px; */
}

.filter-bar-promo {
    display: flex;
    justify-content: center; /* Posisikan di tengah */
    align-items: center; /* Vertikal align tengah */
    margin-bottom: 20px;
}

.filter-promo {
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Spasi antara filter dan tombol */
}

.filter-button-promo {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* text-align: left; */
}

.arrow-promo {
    margin-left: 10px;
    transition: transform 0.3s;
}

.apply-reset-buttons {
    display: flex;
}

.apply-button {
    background-color: #ff007f;
    color: #fff;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-button {
    background-color: transparent;
    color: #ff007f;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content-promo {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

/* .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} */

.dropdown-content-promo a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-promo a:hover {
    background-color: #f1f1f1;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.category-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
}

.category-button.active {
    background-color: #ff007f;
    color: #fff;
}

.promo-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.promo-card p{
    text-align: left;
}

.promo-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 23%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
}

.promo-image {
    background-color: #ccc;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
}
