body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container_transaksi {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container-transaksi h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.filter-bar {
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 20px;
}

.filter-button-transksi {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 0 10px;
}

.transaction-card {
    max-width: 95%; /* Ubah sesuai dengan lebar yang Anda inginkan */
    margin: 0 auto; /* Memastikan elemen berada di tengah halaman */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.transaction-info {
    display: flex;
    align-items: center;
}

.transaction-icon {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border-radius: 5px;
    margin-right: 20px;
}

.transaction-details {
    display: flex;
    flex-direction: column;
}

.transaction-type, .transaction-date, .transaction-description, .transaction-items, .transaction-total, .transaction-amount {
    margin: 2px 0;
}

.transaction-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.complete-button {
    padding: 10px 20px;
    background-color: #ff007f;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.details-button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
