.clckShowListStore > * {
    transform: rotate(0deg) skew(0, 0);
    -webkit-transform: rotate(0deg) skew(0, 0);
    -moz-transform: rotate(0deg) skew(0, 0);
    -ms-transform: rotate(0deg) skew(0, 0);
    -o-transform: rotate(0deg) skew(0, 0);
}

.clckShowListStore:hover > * {
    transform: rotate(90deg) skew(0, 0);
    -webkit-transform: rotate(90deg) skew(0, 0);
    -moz-transform: rotate(90deg) skew(0, 0);
    -ms-transform: rotate(90deg) skew(0, 0);
    -o-transform: rotate(90deg) skew(0, 0);
}

.clckActiveShowListStore {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}