.at-content {
    margin-top: 50px;
    display: flex;
    align-items: stretch;
    width: 100%;
    background-color: white;
}

.at-content .left-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 30%;
    
}

.kurir-icon img {
    width: 300px !important;
    transform: rotate(-10deg); 
}

/*==========RIGHT===========*/

.at-content .right-content {
    display: block;
    width: 70%;
    padding-left: 20px;
}

.right-top-content{
    height: 60%;
    
}

.deks-app{
    width: 60%;
}

.deks-app p{
    color: #0493CC;
    font-size: 36px;
    font-weight: bolder;
}

.right-mid-content{
    height: 20%;
    
}

.mid-login-button{
    display: flex;
}
.mid-login-button button{
    width: 150px;
    height: 35px;
    border-radius: 15px;
    background-color: #FF3377;
    color: white;
    font-weight: bold;
    text-align: center;
    
}

.right-btm-content{
    height: 20%;
}

.c-btm{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: #ffff;
    border: 1px solid #D9D9D9;
    align-items: center;
    justify-content: center;
}

.c-btm .btm-icon img{
    align-items: center;
    justify-content: center;
    width: 20px;
}